@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  transition: 0.3s all linear;
}

:root {
  --black: #13131a;
  --white: #fff;
  --main-color: #ffc65d;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  width: 0.8rem;
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  width: 0.8rem;
  border-radius: 5rem;
}

body {
  background: var(--black);
}

section {
  padding: 5rem 7%;
}

.btn {
  display: inline-block;
  background: var(--main-color);
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.9rem 3rem;
}

/* Header starts */
.header {
  background: var(--black);
  padding: 1.5rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  width: 100%;
  position: fixed;
  border-bottom: 0.1rem solid var(--main-color);
}

.header .logo {
  width: 4.5rem;
  height: 4.5rem;
}

.header .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.header .navbar {
  display: flex;
  align-items: center;
}

.header .navbar a {
  font-size: 1.6rem;
  color: var(--white);
  margin-left: 2rem;
}

.header .navbar a:hover {
  color: var(--main-color);
}

.header #menu-icon {
  display: none;
}

.header .icons .fa-cart-shopping,
.header .icons .fa-search,
.header .icons .fa-bars {
  cursor: pointer;
  font-size: 2rem;
  color: var(--white);
}

.header .icons .fa-search {
  margin: 0 1rem;
}

.header .search-box {
  position: absolute;
  transform: scaleY(0);
  right: 6rem;
  top: 50%;
}

.header .search-box.active {
  top: 110%;
  transform: scaleY(1);
}

.header .search-box input {
  padding: 1rem;
  font-size: 1.6rem;
  width: 50rem;
}

.header .shopping-cart-container {
  position: absolute;
  top: 110%;
  right: -100%;
  display: flex;
  padding: 1rem 2rem;
  flex-direction: column;
  height: 90vh;
  width: 30rem;
  background: var(--white);
  color: var(--black);
  transition: 0.5s all ease-in-out;
}

.header .shopping-cart-container.active {
  right: 0;
  transition: 0.5s all ease-in-out;
}

.header .shopping-cart-container .cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.header .shopping-cart-container .cart-item img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
}

.header .shopping-cart-container .cart-item span {
  font-size: 1.6rem;
  font-weight: 600;
}
.header .shopping-cart-container .cart-item .remove {
  cursor: pointer;
  font-size: 2.2rem;
}
/* Header ends */

/* Home section starts */
.home {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(images/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.home .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 70rem;
  width: 100%;
}

.home .content h1 {
  font-size: 5rem;
  color: var(--white);
}

.home .content p {
  font-size: 1.5rem;
  color: var(--white);
  margin: 2rem 0;
  text-align: center;
}

/* Home section ends */

/* About section starts */
.heading {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--white);
  position: relative;
}

.heading::after {
  position: absolute;
  content: "";
  bottom: -0.5rem;
  left: 50%;
  width: 15rem;
  transform: translateX(-50%);
  height: 0.2rem;
  border-bottom: 0.2rem solid var(--main-color);
}
/* About section ends */

/* Media queries */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem 5rem;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 2rem 5rem;
  }

  .header #menu-icon {
    display: initial;
  }

  .header .navbar {
    position: absolute;
    right: -100%;
    top: 110%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 9rem);
    background: var(--white);
    width: 27rem;
    transition: 0.5s all ease-in-out;
  }

  .header .navbar.active {
    right: 0;
    transition: 0.5s all ease-in-out;
  }

  .header .navbar a {
    display: block;
    color: var(--black);
    font-weight: bold;
    margin: 2rem 0;
  }

  .header .search-box input {
    width: 40rem;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 50%;
  }

  .header {
    padding: 2rem 5rem;
  }

  .header .search-box input {
    width: 30rem;
  }

  .home .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 40rem;
    width: 100%;
    text-align: left;
  }

  .home .content p {
    text-align: left;
  }
}
