@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  /* transition: 0.3s all linear; */
}

:root {
  --black: #13131a;
  --black-2: #20202b;
  --white: #fff;
  --main-color: #925f3f;
  --btn-hover: #673025;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  width: 0.8rem;
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  width: 0.8rem;
  border-radius: 5rem;
}

body {
  background: var(--black);
  color: var(--white);
}

section {
  padding: 5rem 7%;
}

.btn {
  display: inline-block;
  background: var(--main-color);
  color: var(--white);
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.2rem 3rem;
  transition: 0.3s all linear;
}

.btn:hover {
  background: var(--btn-hover);
  transition: 0.3s all linear;
}

span {
  color: var(--main-color);
}

/* Header starts */
.header {
  background: var(--black);
  padding: 1.5rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  width: 100%;
  position: fixed;
  border-bottom: 0.1rem solid var(--main-color);
}

.header .logo {
  width: 4.5rem;
  height: 4.5rem;
}

.header .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.header .navbar {
  display: flex;
  align-items: center;
}

.header .navbar a {
  font-size: 1.7rem;
  color: var(--white);
  margin-left: 2rem;
}

.header .navbar a:hover {
  color: var(--main-color);
}

.header #menu-icon {
  display: none;
}

.header .icons .fa-cart-shopping,
.header .icons .fa-search,
.header .icons .fa-bars {
  cursor: pointer;
  font-size: 2rem;
  color: var(--white);
}

.header .icons .fa-search {
  margin: 0 1rem;
}

.header .search-box {
  position: absolute;
  transform: scaleY(0);
  right: 6rem;
  top: 50%;
  transition: 0.3s all linear;
}

.header .search-box.active {
  top: 100%;
  transform: scaleY(1);
  transition: 0.2s all linear;
}

.header .search-box input {
  padding: 1rem;
  font-size: 1.6rem;
  width: 50rem;
}

.header .shopping-cart-container {
  position: absolute;
  top: 100%;
  right: -100%;
  display: flex;
  padding: 1rem 2rem;
  flex-direction: column;
  height: 90vh;
  width: 30rem;
  background: var(--white);
  color: var(--black);
  transition: 0.5s all ease-in-out;
}

.header .shopping-cart-container.active {
  right: 0;
  transition: 0.5s all ease-in-out;
}

.header .shopping-cart-container .cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.header .shopping-cart-container .cart-item img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
}

.header .shopping-cart-container .cart-item span {
  font-size: 1.6rem;
  font-weight: 600;
}
.header .shopping-cart-container .cart-item .remove {
  cursor: pointer;
  font-size: 2.2rem;
}
/* Header ends */

/* Home section starts */
.home {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(images/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.home .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 70rem;
  width: 100%;
}

.home .content h1 {
  font-size: 5rem;
  color: var(--white);
}

.home .content p {
  font-size: 1.7rem;
  color: var(--white);
  margin: 2rem 0;
  text-align: center;
}

/* Home section ends */

/* About section starts */
.heading {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--white);
  position: relative;
  margin-bottom: 4rem;
}

.heading::after {
  position: absolute;
  content: "";
  bottom: -0.5rem;
  left: 50%;
  width: 12%;
  transform: translateX(-50%);
  height: 0.2rem;
  border-bottom: 0.2rem solid var(--main-color);
}

.heading span {
  color: var(--main-color);
}

.about .about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  color: var(--white);
}

.about .about-content .image-con {
  width: 48%;
}

.about .about-content .image-con img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about .about-content .about-text {
  width: 48%;
}

.about .about-content .about-text h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.about .about-content .about-text p {
  font-size: 1.6rem;
}

.about .about-content .about-text .btn {
  margin-top: 1.5rem;
}
/* About section ends */

/* Menu section starts */
.menu {
  background: var(--black-2);
}

.menu-con {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(auto, 35rem));
  gap: 2rem;
  margin-bottom: 3rem;
}

.menu-con .menu-item {
  width: 100%;
  height: 33rem;
  border: 0.2rem solid var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.4s all ease-in-out;
  cursor: pointer;
}

.menu-con .menu-item:hover {
  background: var(--black);
}

.menu-con .menu-item .img-con {
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  transition: 0.4s all ease-in-out;
}

.menu-con .menu-item .img-con:hover {
  transform: scale(1.1) rotate(7deg);
}

.menu-con .menu-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.menu-con .menu-item h3 {
  font-size: 1.8rem;
}

.menu-con .menu-item .item-price {
  font-size: 2.5rem;
  margin: 1.5rem 0;
  color: var(--main-color);
}

.menu-con .menu-item .prp {
  font-size: 1.7rem;
  color: var(--white);
  text-decoration: line-through;
}
/* Menu section ends */

/* Products section starts */
.products {
  background: var(--black);
  color: var(--white);
}

.products-con {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(auto, 35rem));
  gap: 2rem;
  margin-bottom: 3rem;
}

.products-con .product-item .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.products-con .product-item:hover {
  background: var(--black-2);
}

.products-con .product-item .icons i {
  border: 0.2rem solid var(--main-color);
  font-size: 2.2rem;
  padding: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}

.products-con .product-item .icons i:hover {
  background: var(--main-color);
  color: var(--black);
}

.products-con .product-item {
  border: 0.2rem solid var(--main-color);
  height: 35rem;
}

.products-con .product-item .image-con {
  width: 17rem;
  height: 17rem;
  margin: 0 auto;
  margin-top: 2rem;
}

.product-item .image-con img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.products .heading::after {
  width: 17%;
}

.products-con .product-item h2 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0 1.5rem;
}

.products-con .product-item .stars {
  text-align: center;
}

.products-con .product-item .stars i {
  font-size: 2rem;
  cursor: pointer;
  color: var(--main-color);
}
.products-con .product-item .stars i:hover {
  color: var(--white);
}

/* Products section ends */

/* Media queries */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem 5rem;
  }

  .about .about-content .image-con {
    width: 100%;
  }

  .about .about-content .about-text {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 2rem 5rem;
  }

  .header #menu-icon {
    display: initial;
  }

  .header .navbar {
    position: absolute;
    right: -100%;
    top: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 9rem);
    background: var(--white);
    width: 27rem;
    transition: 0.5s all ease-in-out;
  }

  .header .navbar.active {
    right: 0;
    transition: 0.5s all ease-in-out;
  }

  .header .navbar a {
    display: block;
    color: var(--black);
    font-weight: bold;
    margin: 2rem 0;
  }

  .header .search-box input {
    width: 40rem;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 50%;
  }

  .header {
    padding: 2rem 5rem;
  }

  .header .search-box input {
    width: 30rem;
  }

  .home .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 40rem;
    width: 100%;
    text-align: left;
  }

  .home .content p {
    text-align: left;
  }
}

@media (max-width: 330px) {
  html {
    font-size: 48%;
  }

  .home .content {
    max-width: 37rem;
    width: 100%;
  }
}
