@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  transition: 0.3s all linear;
}

:root {
  --black: #13131a;
  --white: #fff;
  --main-color: #ffc65d;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  width: 0.8rem;
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  width: 0.8rem;
  border-radius: 5rem;
}

body {
  background: var(--black);
}

section {
  padding: 5rem 7%;
}